<section class="panel panel-default" *ngIf="movie">

    <header class="panel-heading">

        <div class="row">
            <h1 class="col-xs-9">{{movie.title}}</h1>
            <div class="col-md-offset-1 col-xs-2 rating">
                <mvdb-rating [totalStars]="10"
                             [rating]="movie.imdbRating"
                             [votes]="movie.imdbVotes"></mvdb-rating>
            </div>

            <div class="col-xs-9 text-capitalize">
                <span class="right-border">{{movie.rated}}</span>
                <span class="right-border">{{movie.runtime}}min</span>
                <span>{{movie.genre}}</span>
            </div>
        </div>
    </header>

    <article class="panel-body">
        <img class="img-responsive pull-left" [src]="movie.poster" [alt]="movie.title" />

        <p>{{movie.plot}}</p>

        <p *ngIf="movie.cast.writer">
            <strong>Writer: </strong><span>{{movie.cast.writer}}</span>
        </p>
        <p *ngIf="movie.cast.director">
            <strong>Director: </strong><span>{{movie.cast.director}}</span>
        </p>
        <p *ngIf="movie.cast.actors.length > 0">
            <strong>Actors: </strong><span>{{movie.cast.actors}}</span>
        </p>
    </article>

    <footer class="panel-footer">
        <span class="right-border">{{movie.year}}</span>
        <span class="right-border">{{movie.awards}}</span>
        <span class="right-border">{{movie.released}}</span>

        <button class="btn btn-info back" (click)="goBack()">Back</button>
    </footer>
</section>
