<section class="container">
    <form class="form-horizontal col-md-10 col-md-offset-1"
          name="moviesForm">

        <div class="form-group">

            <div class="input-group col-md-12">
                <label for="search-box">Search</label>
                <input id="search-box"
                       name="search-box"
                       type="text"
                       [(ngModel)]="searchTerm"
                       class="form-control">
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-6">
                <label for="sort-box">Sort</label>
                <select id="sort-box" name="sort-box" class="form-control" [(ngModel)]="orderBy">
                    <option *ngFor="let order of orders" [value]="order.key">
                        {{order.name}}
                    </option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="order-box">Order</label>
                <select id="order-box" name="order-box" class="form-control"
                        (change)="toggleOrder($event.srcElement.value)">
                    <option value="false">Ascending</option>
                    <option value="true">Descending</option>
                </select>
            </div>
        </div>
    </form>
</section>

<section class="container">

    <table class="table table-striped">

        <thead>
        <tr>
            <th class="center no-border-side" width="120">Poster</th>
            <th class="th-sortable no-border-side">Title</th>
            <th class="th-sortable hidden-xs no-border-side">Year</th>
            <th class="th-sortable hidden-xs no-border-side">Imdb Rating</th>
        </tr>
        </thead>

        <tbody *ngIf="movies.length > 0">
            <tr *ngFor="let movie of movies | filter:'title':searchTerm | orderBy:orderBy:orderDescending"
                [mvdb-movie-item]="movie"></tr>
        </tbody>
    </table>
</section>
